/javaOperaciones/build/
/javaSerieOperacionesNumericas/nbproject/private/
/javaSerieOperacionesNumericas/build/
/javaFactorial/nbproject/private/
/javaFactorial/build/
/javaSuma/nbproject/private/
/javaSuma/build/
/javaResta/nbproject/private/
/javaResta/build/
/javaMultiplicacion/nbproject/private/
/javaMultiplicacionDivisionFactorial/nbproject/private/
/javaMultiplicacion/build/
/javaPotencia/nbproject/private/
/javaPotencia/build/
/javaDivision/nbproject/private/
/javaDivision/build/