/javaOperaciones/build/
/javaSerieOperacionesNumericas/nbproject/private/
/javaSerieOperacionesNumericas/build/
/javaFactorial/nbproject/private/
/javaFactorial/build/
/javaSuma/nbproject/private/
/javaSuma/build/
/javaResta/nbproject/private/
/javaResta/build/
/javaMultiplicacion/nbproject/private/
/javaMultiplicacionDivisionFactorial/nbproject/private/
/javaMultiplicacion/build/
/javaPotencia/nbproject/private/
/javaPotencia/build/
/javaDivision/nbproject/private/
/javaDivision/build/
/javaMatrices/nbproject/private/
/javaMatrices/build/
/javaCantidadNumerosSuma/nbproject/private/
/javaCantidadNumerosSuma/build/
/javaConstanteConway/nbproject/private/
/javaConstanteConway/build/
/javaSeriePrimos/nbproject/private/
/javaSeriePrimos/build/
/javaDescomposicionFactoresPrimos/nbproject/private/
/javaDescomposicionFactoresPrimos/build/
/javaNumerosAmigosYPerfectos/nbproject/private/
/javaNumerosAmigosYPerfectos/build/
/javaNumerosGuays/nbproject/private/
/javaNumerosGuays/build/
/javaContarDecimalesYDebugger/nbproject/private/
/javaContarDecimalesYDebugger/build/
/javaNumerosRomanos/nbproject/private/
/javaNumerosRomanos/build/
/javaSimuladorDeBanco/nbproject/private/
/javaSimuladorDeBanco/build/
/javaTrioPitagorico/nbproject/private/
/javaTrioPitagorico/build/
/javaNumeroABinario/nbproject/private/
/javaNumeroABinario/build/
/javaBinariosANumeros/nbproject/private/
/javaBinariosANumeros/build/
/CppApplication_1/build/
/CppApplication_1/dist/
/javaNumerosCapicuas/nbproject/private/